<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container" align="center" >
    {%if sent%}
    <h1>Thanks for signup</h1>
    {%else%}
    <h1>Student signup form</h1><hr>
    <form method="post">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-lg btn-primary" value="Signup">
    </form>
    {%endif%}
</div>

</body>
</html>